.containerNavBar{
    height: 20vh;
    width: 80%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    
    margin-top: 1rem;
    padding: 1.6rem 2rem;
    border: 3px solid rgb(20, 20, 20);
    /* border-radius: 5px; */
    background: rgb(255, 255, 255);
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
  }

/* Titulo E-commerce */
  .navBarTitulo p{
    font-size: 45px;
    font-weight: bolder;

    padding: 10px;
    color: black;
    background-color: rgb(255, 255, 255);
}
.navBarTitulo p:first-child{
    padding: 10px;
    color: white;
    background-color: black;
}
.navBarTitulo:Hover{
    padding: 10px;

    color: white;
    background-color: black;

    transition: all ease 300ms;
}
/* ---------------------- */
.containerNavBarList .navBarList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-evenly;
    align-items: center;

    width: 500px;
}
.containerNavBarList .navBarList li a{
    font-weight: 800;
    color: black;
}
.navBarList li a:Hover{
    padding: 10px;

    color: white;
    background-color: black;

    transition: all ease 300ms;
}
/* 
  background-image: 
  linear-gradient(to top, rgb(230, 230, 230) 25%, transparent 25%, transparent 75%, rgb(230, 230, 230) 75%,rgb(230, 230, 230)),
  linear-gradient(to right, #c2c2c2 25%, transparent 25%, transparent 75%,#c2c2c2 75%,#c2c2c2);
  background-size: 10px 10px;
  background-position: 0 0; 
  */

@media(max-width: 1085px){
    .navBarTitulo a h2{font-size: 20px}
    .containerNavBarList .navBarList{flex-direction: column; width: 100%;}
}
@media(max-width: 400px){
    .navBarTitulo a h2{font-size: 20px}
    .containerNavBarList .navBarList{flex-direction: column; width: 100%;}
    .containerNavBar{padding: 0px;}

}